<div id="sb-site">
  <div id="map_container">
    <div id="map" style="text-align:right">
    </div>
    <div id="right_menu_button" class="float-right glyphicon glyphicon-circle-arrow-left" style="font-size:xx-large; position:absolute;right:2vw;top:90vh" onclick="toggleRightMenu()" >
    </div>
   </div>
</div>